# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# Editor files
.vscode/
.idea/

# Logs and databases
*.log
db.sqlite3

# Dependency files
Pipfile
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db